#navbar {
    width: 80%;
    margin: auto;
}

#top_nav_bar_hidden {
    display: flex;
    justify-content: end;
    gap: 3%;
}

#navbar_niche_wala {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #navbar_niche_wala img {
      position: absolute;
      top: 25px;
      margin-left: 2em;
    }  */
#top_nav_bar_hidden div {
    margin-bottom: 1%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#cart {
    display: flex;
    /* height: 3em; */
    width: 9em;
    background-color: #f2f2f2;
    /* border: 1px solid blue; */
    /* gap: 7px; */
    padding: 0.2%;
}

#cart div {
    /* border: 1px solid brown; */
    /* height: min-content; */
    /* margin: 7px; */
    text-align: right;
}

#cart_img {
    width: 40%;
    /* border: 1px solid teal; */
    display: flex;
}

#cart_img img {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid aqua; */
}

#cart_qunt {
    /* line-height: -10px; */
    /* border: 1px solid lightcoral; */
    line-height: 10px;
    /* justify-content: baseline; */
    text-align: center;
}

#search_item {
    width: 40%;
    display: flex;
    align-items: center;


}

#search_item>img {
    padding: -10px 0px 10px 10px;
    height: 35px;

}

#search_item input {
    width: 100%;
    height: 2em;
    margin-top: -2%;
}

#logo {
    /* position: absolute; */
    /* top: -12%; */
    margin-top: -4%;
    width: 30%;
}

#category_wala_part {
    display: flex;
    border: 1px solid gray;
}

.category_wala_part_first {
    /* background-color: #84c225; */
    /* margin-right: 2%; */
    /* background-color: blueviolet; */
    display: flex;
    margin-right: 1%;
    /* width: 25%; */
}

#category_wala_part>div p {
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 0.5em;
}

/* //////////////////start dropDown/////////////////// */
.category {
    display: flex;
}

.category-hover-div {
    display: flex;
    /* min-width: 1000px; */
    width: 70%;
    position: absolute;
    height: 420px;
    background: #fff;
    /* box-sizing: border-box; */
    border-radius: 0px 0px 4px 4px;

    visibility: hidden;

    /* overflow: hidden; */
}

.category p {
    background-color: #84c225;
}

.category:hover .category-hover-div {
    margin-top: 2.6%;
    visibility: visible;
    opacity: 1;
    box-shadow: 3px 2px 2px 2px black;
}

.category-hover-div-left {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.category-hover-div-left-options {
    width: 100%;
    height: auto;
    /* line-height: 60px;
       */
    padding: 5%;
    border-bottom: 1px solid #e4e4e4;

    font-size: 14px;
    display: flex;
    color: #555;
    cursor: pointer;
    /* padding-right: 25px; */
    position: relative;
}

.category-hover-div-left-options:hover {
    color: #000;
}

.category-hover-div-right {
    width: 70%;
    height: auto;
    display: flex;
    padding-left: 45px;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #eaeaea;
    z-index: 1;
}

.category-hover-div-right a {
    width: 25%;
    /* height: auto; */
    font-size: 14px;
    line-height: 30px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
}

.category-hover-div-right a:hover {
    background-color: white;
}

/* ////////////navbar done//////// */