@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


/* <--------------------navbar------------------------> */
#navbar {
  width: 80%;
  margin: auto;
}

#top_nav_bar_hidden {
  display: flex;
  justify-content: end;
  gap: 3%;
}

#top_nav_bar_hidden>div {
  display: flex;
  gap: 5px;
}

#top_nav_bar_hidden>div:last-child>div:last-child>a {
  text-decoration: none;
  color: black;

}

#below-navbar {
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

#below-navbar>div:nth-child(2)>div {
  background-color: green;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#top_nav_bar_hidden div {
  margin-bottom: 1%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#below-navbar>div:last-child {
  display: flex;
  width: 20%;
  height: 100%;
}

#below-navbar>div:first-child {
  width: 25%;
}

#below-navbar>div:last-child>div:last-child {
  display: flex;
  width: 10em;
  background-color: #f2f2f2;
  align-items: center;
}

#cart div {
  text-align: right;
}

#cart_img {
  width: 80%;
  display: flex;
}

#cart_img img {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#cart_qunt {
  line-height: 5px;
  text-align: center;
  padding: 10px 0px 0px 0;
}

#cart_qunt>a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-align: center;
}

#cart_qunt>samp {
  font-size: 15px;
}

#cart_qunt>p {
  font-size: 15px;
}

#below-navbar>div:nth-child(2) {
  width: 70%;
  display: flex;
  align-items: center;
}


#below-navbar>div:nth-child(2)>div {
  margin-top: -13px;
}

#search_item>img {
  padding: -10px 0px 10px 10px;
  height: 35px;
}

#search_item input {
  width: 100%;
  height: 2em;
  margin-top: -2%;
}

#logo {
  margin-top: -4%;
  width: 50%;
}

#category_top {
  display: flex;
  margin-top: 2%;
}

.category_inner {
  display: flex;
  margin-right: 1%;
}

#category_top>div p {
  margin-bottom: 0%;
  margin-top: 0%;
  color: white;
  font-weight: 600;
  padding: 0.7em 5em 0.7em 0.4em;
  text-align: start;
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.category_inner>:last-child {
  display: flex;
  align-items: center;
}

.category_inner>:last-child>div:last-child>#offers {
  color: #9d9d9d;
  align-items: center;
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* background-color: #27bbb8; */
}

/* //////////////////start dropDown/////////////////// */
.category {
  display: flex;
}

.category-hover-div {
  display: flex;
  width: 70%;
  position: absolute;
  height: 420px;
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  visibility: hidden;
}

.category p {
  background-color: #84c225;
}

.category:hover .category-hover-div {
  margin-top: 2.6%;
  visibility: visible;
  opacity: 1;
  box-shadow: 3px 2px 2px 2px black;
}

.category-hover-div-left {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-hover-div-left-options {
  width: 100%;
  height: auto;
  padding: 5%;
  border-bottom: 1px solid #e4e4e4;

  font-size: 14px;
  display: flex;
  color: #555;
  cursor: pointer;
  position: relative;
}

.category-hover-div-left-options:hover {
  color: #000;
}

.category-hover-div-right {
  width: 70%;
  height: auto;
  display: flex;
  padding-left: 45px;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #eaeaea;
  z-index: 1;
}

.category-hover-div-right a {
  width: 25%;
  font-size: 14px;
  line-height: 30px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}

.category-hover-div-right a:hover {
  background-color: white;
}

/* <------------------check-------------------> */


body {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12px;
  background: rgb(243, 243, 243);
  padding-top: 0px;
}

#container {
  width: 70%;
  background: #fff;
  margin: auto;
  margin-bottom: 50px;
}

#innerbox {
  width: 100%;
  border: 1px solid black;
  display: flex;
  height: 30px;
}

table,
td,
th {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

th,
td {
  padding: 12px;
}

tr>th {
  background-color: rgb(85, 85, 85);
  color: white;
}

#empty {
  background: linear-gradient(180deg, #fff 35%, #ebedea 99%);
  border: 1px solid #70b961;
  border-radius: 5px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
  padding: 4px 15px;
  cursor: pointer;
}

#continue {
  background: linear-gradient(180deg, #fff 0, #ebedea 99%);
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  color: #555;
  display: inline-block;
  font: 400 12px Roboto Slab, serif;
  box-shadow: 2px 2px 2px #ccc;
  margin-left: 50px;
  padding: 8px 15px;
  cursor: pointer;
  margin-bottom: 50px;
}

#continue {
  margin-top: -50px;
}

#empty:hover,
#continue:hover {
  background-color: rgb(148, 138, 138);
}

#card {

  height: 300px;
  width: 50%;
  border: 1px solid black;
  margin-left: 400px;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#first {
  width: 80%;
  height: 30%;

  margin: auto;
}

#second {
  width: 80%;
  height: 30%;

  margin: auto;
  display: flex;
  justify-content: space-between;
}

#third {
  width: 80%;
  height: 40%;

  margin: auto;
}

#first>div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#checkout {
  cursor: pointer;
  background: linear-gradient(180deg, #fee77c 0, #f2ca76 99%);
  border-radius: 5px;
  float: right;
  box-shadow: 3px 2px 5px #ccc;
  margin: 23px 8px 5px 0;
  padding: 13px 27px;
}

hr {
  width: 80%;
}

p {
  font-size: larger;
}

tr {
  border-bottom: #888 1px solid;
}

#namecol>p:first-child {
  font: 400 10px/10px Lato, sans-serif;
  color: #888;

}

#remove:hover {
  color: #84c225;
}

#namecol>p:last-child {
  font: 400 13px/14px Lato, sans-serif;
  color: #222;
  margin-top: -5px;
  font-weight: 400;
}

#Rs {
  font: 400 13px/13px Lato, sans-serif;
  color: #222;
  display: block;
  margin-top: 20px;

}

#qtyinput {
  border: 1px solid #e3e3e3;
  width: 24px;
  height: 20px;
  background: #fff;
  font: 400 12px/16px Lato, sans-serif;
  color: #000;
  text-align: center;
}

#quant>button>img {
  height: 10px;
}

tr>td:last-child {
  font: 400 13px/13px Lato, sans-serif;
  color: #222;
  display: block;
  margin-top: 20px;

}

#itemshow {
  height: auto;
  width: 90%;
  border-bottom: 1px solid #58595b;
  font: 300 24px/24px Lato, sans-serif;
  color: #58595b;
  margin-left: 20px;
  margin: auto;
  padding-top: 5px;
}

#itemshow>p {
  margin-bottom: 10px;
}

/* <---------------------foooter---------------------------> */
#footer {
  width: 70%;
  margin: auto;
  background-color: white;
  border-top: 2px solid yellowgreen;
}

.parent1 {
  height: 400px;
  width: 100%;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 2%;

}

.parent1>.child {
  display: grid;
  /* border: 1px solid blue; */
  height: 100%;
  width: 80%;
  margin: auto;
  display: inline-table;



}

.parent2 {
  height: 300px;
  width: 100%;
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;

}

.parent2>.child2 {
  display: grid;
  /* border: 1px solid blue; */
  height: 100%;
  width: 95%;
  margin: auto;
}

.parent2>div {
  display: flex;
}

.parent2>.child2 {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 95%;
  margin: auto;
}

.parent2>.child2>div:nth-child(1) {
  font-family: 'Kanit', sans-serif;
  width: 60%;
}

h4,
p {
  font-family: 'Kanit', sans-serif;

}

.parent2>.child2>div:nth-child(2) {
  width: 150%;
}

.parent2>.child2>div:nth-child(2)>p {
  /* width: 150%; */
  font-family: 'Kanit', sans-serif;
}

@media all and (min-width:400px) and (max-width : 700px) {

  #container {
    width: 90%;
    margin: auto;
  }

  #card {
    height: 200px;
    width: auto;
    margin-left: 100px;
    margin-top: -20px;
  }

  #footer {
    width: 100%;
    font-size: 12px;
  }

  #checkout {
    height: 50px;
    margin-top: -20px;

  }

  #navbar {
    width: 100%
  }

  #empty {
    margin-bottom: 50px;
  }

  #continue {
    margin-top: 20px;
  }

  #search_item>div>input {
    width: 100%;
    height: 20px;
  }


}

@media all and (min-width:100px) and (max-width : 399px) {

  #container {
    width: 90%;
    margin: auto;
  }

  #card {
    height: 200px;
    width: auto;
    margin-left: 100px;
    margin-top: -20px;
    font-size: 8px;
  }

  #footer {
    width: 100%;
    font-size: 8px;
  }

  #checkout {
    margin-top: 30px;
    height: 40px;
    width: 60%;
    margin-top: -20px;
    font-size: 8px;

  }

  #navbar {
    width: 100%;
    font-size: 16px;

  }

  #empty {
    margin-bottom: 50px;
  }

  #continue {
    margin-top: 20px;
  }

  #search_item>div>input {
    width: 60%;
    height: 20px;
  }


  #navbar>div {
    font-size: 8px;
  }

  .child>div>img {
    height: 12px;
  }

}